body {
  text-align: center;
  background: #fcfcfa;
  color: #818078;
}

/* Map View: */
#leafletMap {
  position: absolute;
  height: 89%;
  width: 96.3%;
  z-index: 1;
}

.map-main {
	width: 100%;
	height: 80%;
	background-color: #CCC;
}

.scroll{
	height: 100%;
}

#LegendGradient {
	width: 100%;
	height: 20px;
	border: 0px solid black;
}

#LegendKey {
	width: 100%;
	height: 40px;
	border: 1px solid #a2a2a2;
}
.scale {
	position: absolute;
	display: inline;
}

#location {
	left: 10px;
	top:10px;
	z-index: 1;
}

.center-text {
	text-align: center;
}

.verify-text {
	position: absolute;
    top: 30%;
    width: 100%;
    font-size: 18px;
    color: grey;
}

#searchBox {
  background: #f8f8f8;
  width:100%;
}

/* Search buttons */
.searchPanel {
  position: absolute;
  z-index: 3;
  width: 96.3%;
  background: #387ef5;
  left: 1.7%;
  padding: 4px 7px;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
}

.searchPanel .top-row {
  background: #387ef5;
}

#panel .button {
	font-size: 14px;
  margin: 0;
  border-bottom-width: 0px;

}

/*cols in search buttons*/
.col.ng-binding {
  padding: 0;
}

.no-results {
  text-align: center;
  background: #f8f8f8;
  height: 50px;
  vertical-align: middle;
  margin-top: 50px;
}


.locateButton {
  position: absolute;
  z-index: 2;
  left: 15px;
}

/* New Well Popup*/
.overlap {
	float: left;
	position: absolute;
	top: 44%;
	right: 48%;
	z-index: 10;
}

.icon-larger {
  font-size: 50px;
}

.map-modal {
	width: 100%;
	height:300px !important;
}

/*General text*/

.bottom-text {
	position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

/* Report page*/

.reportCache .heading {
  text-align: center;
  font-size: 14px;
  padding-bottom: 10px;
}

.reportCache .even {
  padding: 10px;
  background: #f8f8f8;
}
.reportCache .odd {
  padding: 10px;
  background: #d1d1d1;
}

/* Add resource page */

#leafletMapRegister {
  /*position: absolute;*/
  height: 200px;
  width: 100%;
  z-index: 1;
}

.centerText {
  width: 100%;
  text-align: center;
}

.paddingTop {
  padding-top: 15px;
}

.inlineTextButton {
  margin-top: -14px;
  margin-left: -5px;
  margin-right: -5px;
}


.hereIcon {
  font-size: 50px;
  color: #0074D9;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  position: absolute;
  z-index: 1000000;
  margin-left: 50%;
  margin-top: 50px;
  text-align: left;
  top: 0;
  left: 0;
}


.village-div-icon {
  z-index: 100000 !important;
  width: 125px !important;
  height: 45px !important;
  padding: 3px;
  background-color: #001f3f;
  border: 1px solid #001f3f;
  border-radius: 3px;
  color: #222;
  background: #0074D9;
  opacity: 0.8;
}

/* Map Detail View */

.banner {
}

.banner .topImage {
  height: 200px;
  overflow: hidden;
}

.banner .heading {
  position: absolute;
  top: 160px;
  padding: 0px 10px;
}

.banner .heading h3 {
  color: white;
   text-shadow:
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}

h5.style1{
	border-top: 1px solid #8c8b8b;
}

hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}

.stats .col {
  display: flex;
  justify-content: center;
  align-items: center
}

.stats .greyText {
  color: #818078;
}

.stats .blueText {
  color: #0074D9;
  font-size: 20px;
  font-weight: 500;
}


.container {
  max-width: 85%;
  margin: 10px auto;
  border-bottom: 1px solid #90A4AE

}

.stats {
  background: #F5F5F5;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #90A4AE;
  border-top: 1px solid #90A4AE;
}

.graphs {
  background: #FAFAFA
  border-bottom: 1px solid #90A4AE

}
